<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter II day-1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <!-- Left Side -->
        <a class="navbar-brand me-5" href="#"><img src="../public/assets/img/logo.png" alt="Logo-Dumbways"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse  navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-5">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-active" href="/addproject">Add Project</a>
            </li>
          </ul>
          <!-- End Left Side -->

          <!-- Right Side -->
          <a href="/form" class="btn btn-orange text-white">Contact Me</a>
          <!-- End Right Side -->
        </div>
      </div>
    </nav>
    <!-- End Navbar -->



  
    <!-- Add My Project -->
    
    <div class="form-container mb-5 d-flex justify-content-center align-items-center mt-5">
      <form class="form-contact shadow body rounded bg-light p-3" action="/addproject" method="post">

        {{#if isLogin}}
        <div class="mb-3 d-flex justify-content-end">
          <button>add</button>
        </div>
        {{/if}}

        <div class="mb-3">
          <label for="name" class="form-label fs-5" >Project Name</label>
          <input type="text" class="form-control" placeholder="Type your name" id="add-project-name" aria-describedby="emailHelp">
        </div>

        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label fs-5">Start Date</label>
            <input type="date" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-6 mb-3">
            <label for="lastName" class="form-label fs-5">End Date</label>
            <input type="date" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

        </div>
        
        <div class="mb-3">
          <label for="your-message "class="form-label fs-5 " >Description</label>
          <textarea class="form-control" placeholder="Type your message here" id="description" rows="3"></textarea>
        </div>


        <div class="heading fs-5">
          Technologies
        </div>
        <div class="my-3 d-flex flex-row justify-content-start ms-1">
          
          <div class="form-check me-3">
            <input id="credit" name="paymentMethod" type="checkbox" class="form-check-input" checked required>
            <label class="form-check-label" for="credit">Node Js</label>
          </div>
          <div class="form-check">
            <input id="debit" name="paymentMethod" type="checkbox" class="form-check-input" required>
            <label class="form-check-label" for="debit">Next Js</label>
          </div>
        </div>
        <div class="my-3 d-flex flex-row justify-content-start ms-1">
          <div class="form-check me-3">
            <input id="credit" name="paymentMethod" type="checkbox" class="form-check-input" checked required>
            <label class="form-check-label" for="credit">React Js</label>
          </div>
          <div class="form-check">
            <input id="debit" name="paymentMethod" type="checkbox" class="form-check-input" required>
            <label class="form-check-label" for="debit">Typescript</label>
          </div>
        </div>

        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          
        </div>
        
        
        <div class=" button-form d-flex justify-content-end mt-5">
          <button type="button" onclick="addProject()" class="btn btn-orange text-white ">Submit</button>
        </div>
        
      </form>
  </div>

    <!-- End Add My Project -->


   







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../public/assets/js/project.js"></script>
</body>
</html>