<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter II day-1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <!-- Left Side -->
        <a class="navbar-brand me-5" href="#"><img src="../public/assets/img/logo.png" alt="Logo-Dumbways"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse  navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-5">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addproject">Add Project</a>
            </li>
          </ul>
          <!-- End Left Side -->

          <!-- Right Side -->
          <a href="/form" class="btn btn-orange text-white">Contact Me</a>
          <!-- End Right Side -->
        </div>
      </div>
    </nav>
    <!-- End Navbar -->


        <div class="heading-form text-center mt-5 mb-3">
            <h1>GET IN TOUCH</h1>
        </div>
    <!-- Form -->
      <div class="form-container mb-5 d-flex justify-content-center align-items-center mt-5">
          <form class="form-contact shadow body rounded bg-light">
            <div class="mb-3">
              <label for="name" class="form-label fs-5" >Name</label>
              <input type="text" class="form-control" placeholder="Type your name" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label fs-5" >Email</label>
              <input type="email" class="form-control" placeholder="Type your Email" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="phone-number" class="form-label fs-5">Phone Number</label>
              <input type="text" class="form-control"  placeholder="Type your phone number" id="phone-number" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Subject" class="form-label fs-5">Subject</label>
              <select class="form-select" aria-label="Default select example" id="subject" >
                <option selected>Please select this option</option>
                <option value="Let's talk">Let's Talk</option>
                <option value="Let's Collaborate">Let's Collabrate</option>
                <option value="Can we meet">Can We Meet</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="your-message "class="form-label fs-5" >Your Message</label>
              <textarea class="form-control" placeholder="Type your message here" id="message" rows="3"></textarea>
            </div>

            <div class=" button-form d-flex justify-content-end mt-5">
              <button type="button" onclick="submitForm()" class="btn btn-orange text-white ">Submit</button>
            </div>
            
          </form>
      </div>
    <!-- End Form -->







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../public/assets/js/form.js"></script>
</body>
</html>